{% extends "./common/layout.html" %}
{% block title %}
item_detail
{% endblock %}
{% block main %}
<div class="item_container">
    <table class="table table-striped table-hover text-center">
        <tr class="header">
            {% for h in item_header %}
                <td>{{ h }}</td>
            {% endfor %}
        </tr>
        <tr class="data">
            {% for d in item_data %}
                {% for key,value in d.items() %}
                    <td>{{ value }}</td>
                {% endfor %}
            {% endfor %}
        </tr>
    </table>
</div>
<div class="item_statistics">
    <div class="overflow-scroll" style="height: 650px;">
        <table class="table table-striped table-hover text-center">
            <tr class="header" style="position: sticky; top: 0; background-color: #b0b0b0">
                {% for h in history_header %}
                    <td>{{ h }}</td>
                {% endfor %}
            </tr>
            {% for d in history_data %}
                <tr class="data">
                    {% for key, value in d.items() %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="canvas">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <canvas id="chart_total_price_and_count_per_month_per_item"></canvas>
    </div>
</div>
{% block js %}
{% include "./chart/item_detail_chart.html" %}
{% endblock %}
{% endblock %}