@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

body {
    margin: 0 auto;
    font-family: "Nanum Gothic", "Helvetica", "serif";
    font-size: 12px;
}

p, ul, li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}

a {
    text-decoration: none;
}

.item a {
    text-decoration: none;
    color: #000000;
    opacity: 0.8;
}

.vertical_line {
    background-color: rgba(0, 27, 55, 0.1);
    height: 100%;
}

/* TODO input 안에 text 정리하기 */

/* header start */
header {
    position: fixed;
    width: 100%;
}

.header_container {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.header_container ul {
    display: flex;
    align-items: center;
}

.header_container .item {
    padding: 10px 20px;
    font-size: 14px;
}

.header_container .item:hover {
    background-color: #F2F4F6;
    border-radius: 12px;
}

.header_container .item:active {
    font-weight: 700;
}

.header_container .logo a {
    font-size: 20px;
    font-weight: 700;
}
/* header end */

/* hr line */
hr {
    background-color: rgba(0, 27, 55, 0.1);
    margin: 10px;
}

.main_article hr {
    margin: 0;
}
/* ht line end */

/* main page start */
.main_area {
    height: 580px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 50px;
    padding-bottom: 20px;
}

.main_area p {
    font-size: 48px;
    color: #6E6E73;
    align-items: center;
    font-weight: 700;
}

.main_area span {
    font-size: 48px;
    color: #000000;
}

.main_vertical {
    display: block;
}

#main_guide {
    width: 650px;
    height: 350px;
    border-radius: 42px;
    background-color: #F2F4F6;
    margin-top: 40px;
}
/* main page end */

/* manager page start */
.main_container_width {
    width: 100%;
    padding-top: 50px;
}

.main_container {
    display: flex;
    width: 100%;
    padding: 0 8px;
}

/* left container start */
.left_container {
    position: fixed;
    max-width: 230px;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.left_menu {
    width: 230px;
}

.left_menu a {
    padding: 12px 16px;
    display: flex;
    font-size: 14px;
    color: #6E6E73;
    height: 24px;
    align-items: center;
    background-color: #FFFFFF;
}

.left_menu a:hover {
    background-color: #F2F4F6;
    border-radius: 12px;
}

.left_menu .guide {
    background-color: white;
    border: none;
    width: 100%;
    height: 48px;
    padding: 12px 16px;
    display: flex;
    align-items: center;
}

.left_menu .guide:hover {
    background-color: #F2F4F6;
    border-radius: 12px;
}

.left_menu .guide a {
    width: 100%;
    padding-left: 0;
    justify-content: space-between;
}

.left_menu .guide_menu a {
    margin-left: 15px;
    padding-left: 15px;
    font-size: 12px;
}
/* left container end */

/* main article start */
.main_article h1 {
    margin-bottom: 25px;
}

.main_article_container {
    width: 100%;
    margin-left: 230px;
    padding: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.main_article_container .main_article {
    text-align: left;
    padding: 40px 50px
}

.main_article .search_area {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 25px;
    background-color: #F2F4F6;
    border-radius: 16px;
}

.main_article .search_header {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
    text-align: left;
    color: #000000;
}


/* detail_area start */
.main_article .detail_area {
    color: #000000cc;
    padding: 45px 0px;
}

.search_area .grid_search_area {
    display: grid;
    grid-template-columns: auto 1px auto;
    column-gap: 30px;
}

.grid_search_area span{
    font-size: 14px;
    text-align: left;
}

.grid_search_area .grid_searh_area_items {
    display: flex;
    flex-direction: column;
}

.grid_search_area .grid_searh_area_items input {
    height: 35px;
    background-color: #FFFFFF;
    border: none;
    width: 80%;
    padding: 0;
}

.grid_searh_area_items .grid_searh_area_item {
    display: flex;
    align-items: center;
    padding: 0 15px;
    padding-bottom: 20px;
}

.grid_searh_area_item:last-child {
    padding-bottom: 0px;
}

.grid_searh_area_item span {
    margin-right: auto;
}

.grid_searh_area_item input {
    border-radius: 6px;
    margin-left: auto;
}

.search_area .button {
    display: flex;
    justify-content: space-around;
    padding-top: 35px;
}

.search_area .button a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    font-size: 14px;
    height: 55px;
    min-width: 200px;
    width: 100%;
    margin: 0 50px;
    border-radius: 12px;
}


.search_area .button span {
    color: #000000cc;
}

.search_area .button #submit {
    font-weight: bold;
    color: #1069EF;
}

/* detail_area end */