<script>
    const month = {{ month | safe }};
    const total_revenue = {{ total_revenue | safe }};
    const total_count = {{ total_count | safe }};

    const ctx = document.getElementById("chart_total_price_and_count_per_month_per_item");
    new Chart(ctx, {
        data: {
            labels: month,
            datasets: [{
                type: 'bar',
                data: total_revenue,
                label: 'total revenue',
                yAxisID: 'y1',
                order: 2,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 0.2)',
                borderWidth: 1
            }, {
                type: 'line',
                data: total_count,
                label: 'total count',
                yAxisID: 'y2',
                order: 1,
                backgroundColor: 'rgba(5, 55, 255, 0.2)',
                borderColor: 'rgba(5, 55, 255, 0.2)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y1: {
                    position: 'left',
                    grid: {
                        display: false
                    },
                    title: {
                        text: 'total revenue',
                        display: true
                    }
                },
                y2: {
                    position: 'right',
                    grid: {
                        display: false
                    },
                    title: {
                        text: 'total count',
                        display: true
                    }
                }
            },
            plugins: {
                title: {
                    text: '제품 월별 통계',
                    display: true
                },
                legend: {
                    position: 'left',
                }
            }
        }
    });
</script>