{% extends "./common/layout.html" %}
{% block title %}
order_detail
{% endblock %}
{% block main %}
<div class="order_detail_container">
    <table class="table table-striped table-hover text-center">
        <tr class="header">
            {% for h in order_detail_header %}
                <td>{{ h }}</td>
            {% endfor %}
        </tr>
        {% for d in order_detail_data %}
            <tr class="data">
                {% for key, value in d.items() %}
                    {% if key == "itemid" %}
                        <td><a href="{{ item_url }}/{{ value }}">{{ value }}</a></td>
                    {% else %}
                        <td>{{ value }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}