{% extends "./common/layout.html" %}
{% block title %}
user
{% endblock %}
{% block main %}
<div class="search_container">
    <form action="/user" method="GET">
        <div class="search_filter d-flex flex-row mb-3 justify-content-evenly align-items-center">
            <div class="search_name col-3">
                <div class="form-floating">
                    <input type="text" class="form-control" id="searchInput" name="name" placeholder="검색" value="{{ search_name }}">
                    <label for="searchInput">이름 검색</label>
                </div>
            </div>
            <div class="search_gender">
                <select name="gender" class="form-select form-select-sm" aria-label=".form-select-sm example">
                    <option value="">성별</option>
                    <option value="male"{% if search_gender=="male" %}selected{% endif %}>male</option>
                    <option value="female"{% if search_gender=="female" %}selected{% endif %}>female</option>
                </select>
            </div>
            <div class="search_age col-3">
                <label for="range_age" class="form-label" id="range_label" value="0">나이</label>
                <input type="range" class="form-range" name="age_group" min="0" max="50" step="10" id="range_age" value="{{ search_age_group }}">
            </div>
            <div class="search_submit">
                <button type="submit" class="btn btn-outline-primary">검색</button>
            </div>
        </div>
    </form>
</div>
<div class="user_container">
    <table class="table table-striped table-hover text-center">
        <th colspan="6">
            유저 정보
        </th>
        <tr class="header">
            {% for h in header %}
                <td>{{ h }}</td>
            {% endfor %}
        </tr>
        {% for d in data %}
        <tr>
            {% for key, value in d.items() %}
                {% if key == "id" %}
                    {% set d_id = d['id'] %}
                    <td><a class="link-opacity-100" href="{{ current_url }}/{{ d_id }}">{{ value }}</a></td>
                {% else %}
                    <td>{{ value }}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% include "./common/pagination.html" %}
{% block js %}
<script>
    const rangeInput = document.getElementById("range_age");
    const rangeValue = document.getElementById("range_label");

    rangeInput.addEventListener('input', function () {
        rangeValue.textContent = rangeInput.value + "대";
    });
</script>
{% endblock %}
{% endblock %}