<div class="navbar navbar-light container-fluid" style="background-color: #e3f2fd;">
    <a class="navbar-brand ms-3" href="/">flask-login</a>
    <div class="d-flex flex-row-reverse">
        <div class="navbar-nav">
            <ul class="nav">
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/users">users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile_edit">profile_edit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout" style="color: #ad1313;">logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/">login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>