<div class="container justify-content-center">
    <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link" aria-current="page" href="/">home</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="/user">user</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="/store">store</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="/item">item</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="/order">order</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="/order_item">order item</a>
    </nav>
</div>