{% extends "./common/layout.html" %}
{% block title %}
home
{% endblock %}
{% block style %}
<style>
    #main_hover {
        transition: background-color 0.3s;
    }
    #main_hover:hover {
        background-color: #000000;   
        opacity: 0.9;
    }
</style>
{% endblock %}
{% block main %}
<div class="grid text-center mt-5" id="main_hover" style="height: 500px;">
    <a href="{{ kiosk_url }}" style="text-decoration: none;">
        <div class="search_filter d-flex flex-row mb-3 justify-content-center align-items-center w-100 h-100">
            <div class="text-bg-dark p-3 w-100 h-100 d-flex justify-content-center align-items-center" style="--bs-bg-opacity: .8;">
                <h1>비회원 주문으로 키오스크를 경험해 보세요.</h1>
            </div>
        </div>
    </a>
</div>
{% endblock %}