<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <div class="header_container">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/user">user</a></li>
                <li><a href="/store">store</a></li>
                <li><a href="/item">item</a></li>
                <li><a href="/order">order</a></li>
                <li><a href="/order_item">order item</a></li>
            </ul>
        </div>
    </header>
    <div class="main_container">
        <div class="vertical_container">
            <!-- 이름 검색 -->
            <div class="search">
                <form action="/user" method="GET">
                    <input type="text" name="name" placeholder="사용자 이름을 입력하세요">
                    <button type="submit">검색</button>
                </form>
            </div>
            <div class="container">
                <table>
                    <tr class="header">
                        {% for header in headers %}
                            {% if header != "Id" %}
                            <th>{{ header }}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% for data in datas %}
                    <!-- 따옴표 반복 에러 해결용 변수 할당 -->
                    {% set data_id = data['Id'] %}
                    <tr onclick="location.href='/user/{{ data_id }}'">
                        {% for key, user in data.items() %}
                        <!-- TODO key값이 name인 경우만 a태그 넣기 나중에 하이라이트로 변경-->
                        {% if key != "Id" %}
                            {% if key == "Name" %}
                            <td><a href="/user/{{ data['Id'] }}">{{ user }}</a></td>
                            {% else %}
                            <td>{{ user }}</td>
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="pagination">
                <div class="pagination_btn">
                    <!-- 이전 버튼 처리 -->
                    <div class="pagination_num"><a href="/user?page=1&name={{ search_name }}">&laquo;</a></div>
                    {% if page > 1%}
                    <div class="pagination_num"><a href="/user?page={{ page-1 }}&name={{ search_name }}"><</a></div>
                    {% else %}
                    <div class="pagination_num"><</div>
                    {% endif %}
                    <!-- 메인 숫자 처리 -->
                    {% for i in page_list %}
                        {% if i == page %}
                        <div class="pagination_num" style="font-weight: bold;">{{ i }}</div>
                        {% else %}
                        <div class="pagination_num"><a href="/user?page={{ i }}&name={{ search_name }}">{{ i }}</a></div>
                        {% endif %}
                    {% endfor %}
                    <!-- 다음 페이지 -->
                    {% if page < total_page %}
                    <div class="pagination_num"><a href="/user?page={{ page+1 }}&name={{ search_name }}">></a></div>
                    {% else %}
                    <div class="pagination_num">></div>
                    {% endif %}
                    <div class="pagination_num"><a href="/user?page={{ total_page }}&name={{ search_name }}">&raquo;</a></div>
                </div>

                <!-- pagination의 input -->
                <div class="pagination_input">
                    <form action="/user" method="GET">
                        <input type="number" name="page" min="1" max="{{ total_page }}&name={{ search_name }}" placeholder="번호값">
                        <button type="submit">적용</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>