table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

table {
    width: 100%;
}

th {
    background-color: skyblue;
    height: 30px;
    padding: 0 30px;
}

td {
    padding: 5px;
}

ul, ol {
    list-style: none;
}

ul, li, body, input, button {
    padding: 0;
    margin: 0;

}

a {
    text-decoration: none;
    color: #000000;
    opacity: 0.8;
}

input {
    width: 50px;
    height: 20px;
    text-align: center;
}

.header_container {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_container ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_container li {
    display: flex;
    height: 35px;
    justify-content: center;
    align-items: center;
}

.header_container ul li a {
    padding: 10px 15px;
}

.main_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical_container {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    width: 100%
}

.container a{
    color: #005bbc;
    font-weight: bold;
}

.container .header {
    cursor: default;
}

/* pagination start */

.pagination_btn {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.pagination_num {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 10px 10px;
}

/* hover */
tr:hover {
    background-color: rgb(195, 229, 243);
    cursor: pointer;
}

.pagination_num:hover, .header_container li:hover {
    background-color: rgb(195, 229, 243);
    border-radius: 15px;
}

.pagination_input {
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
}


.pagination_input input {
    width: 50px;
}

button {
    width: 50px;
    height: 24px;
}

.go_back button {
    width: 100px;
}

.search_filter {
    display: flex;
    margin: 10px;
}

.search_filter * {
    margin-left: 10px;
}

.search_filter .search_gender {
    display: flex;
    align-items: center;
}

.search_filter .search_range {
    display: flex;
    align-items: center;
}

.search_filter .search_range input {
    width: 150px;
}