{% extends "./common/base.html" %}
{% block tilte %}
Order List
{% endblock %}
{% block content %}
<div class="main_container">
    <div class="vertical_container">
        <div class="container">
            <table>
                <tr class="header">
                    {% for header in headers %}
                    <th>{{ header }}</th>
                    {% endfor %}
                </tr>
                {% for data in datas %}
                <!-- 따옴표 반복 에러 해결용 변수 할당 -->
                {% set data_id = data['orderid'] %}
                <tr>
                    {% for key, value in data.items() %}
                    <td>{{ value }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="go_back">
            <button onclick="window.history.back()">뒤로가기</button>
        </div>
    </div>
</div>
{% endblock %}