{% extends "./common/base.html" %}
{% block title %}
User Info
{% endblock %}
{% block content %}
<div class="main_container">
    <div class="vertical_container">
        <div class="div_span">
            <span>사용자 정보</span>
        </div>
        <div class="container">
            <table>
                <tr class="header">
                    {% for header in headers %}
                    <th>{{ header }}</th>
                    {% endfor %}
                </tr>
                {% for data in datas %}
                <tr>
                    {% for _, user in data.items() %}
                    <td>{{ user }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="ordered_container">
            <div class="div_span"><span>주문 조회</span></div>
            <div class="container">
                <table>
                    <tr class="header">
                        {% for header in order_headers %}
                        {% if header != "userid" %}
                        <th>{{ header }}</th>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% for data in ordered_data %}
                    <tr>
                        {% for key, value in data.items() %}
                        {% if key != 'userid' %}
                        <td>{{ value }}</td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
                <div class="price_result"><span>총 사용 금액: {{ total_price }}</span></div>
            </div>
        </div>
        <div class="go_back">
            <button onclick="window.history.back()">뒤로가기</button>
        </div>
    </div>
</div>
{% endblock %}