table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

table {
    width: 100%;
}

th {
    background-color: skyblue;
    height: 30px;
}

td {
    padding: 5px;
}

ul, ol {
    list-style: none;
}

ul, li, body {
    padding: 0;
    margin: 0;

}

a {
    text-decoration: none;
    color: #000000;
    opacity: 0.8;
}

.header_container {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_container ul {
    display: flex;
}

ul li a{
    padding: 10px 12px;
}

table {
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* pagination start */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination_btn {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.pagination_num {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #808080;
    margin: 10px 10px;
}

.pagination_num:hover {
    background-color: skyblue;
}

.pagination_input {
    display: flex;
    justify-content: center;
}

.search {
    margin: 10px;
}