<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IM-main</title>
    <link rel="stylesheet" type="text/css" href="./static/style.css">
</head>

<body>
    <header>
        <nav>
            <div class="header_container">
                <ul>
                    <li class="item logo"><a href="/">Inventory Manager</a></li>
                    <li class="item "><a href="/inventory_manager">창고 관리하기</a></li>
                    <li class="item"><a href="/store_manager">매장 관리하기</a></li>
                    <li class="item"><a href="/shopping">쇼핑하기</a></li>
                    <li class="item"><a href="/user">내 정보</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <hr>
    <article>
        <div class="main_area">
            <div>
                <p>
                    <span>Inventory Manager</span><br>
                    재고 관리를 도와주는 서비스입니다.
                </p>
            </div>
        </div>
    </article>
    <hr>
    <article>
        <div class="main_area">
            <div class="main_vertical">
                <p>
                    <span>가이드</span>를 통해<br>
                    사용 방법을 손 쉽게 알아봐요.
                </p>
                <a href="#"><div id="main_guide"></div></a>
            </div>
        </div>
    </article>
</body>

</html>